/*  */
/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url("./reset.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./advantages.css");
@import url("./unique.css");
@import url("./howitmade.css");
@import url("./ourproduct.css");
@import url("./topsellers.css");
@import url("./reviews.css");
@import url("./subscribe.css");
@import url("./footer.css");

/* підключення шрифтів */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  background-color: var(--main-bg-color);
}

:root {
  --primary-text-color: #ffffff;
  --main-bg-color: #fafafa;
  --primary-bg-color: #ffffff;
  --secondary-text-color: #111111;
  --acent-text-color: #fd9222;
  --secondary-bg-color: #1e1823;
  --primary-btn-bg-color: #fd9222;
  --secondary-btn-bg-color: #1e1823;
  --hover-btn-bg-color: #fcf1e0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;

  padding-right: 20px;
  padding-left: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding-right: 32px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*  */
.sellers-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .sellers-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.sellers-text {
  color: var(--txt-color-light-theme);
}
.sellers-list {
  margin-bottom: 32px;
}
.img-set {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.img-set-item {
  flex-basis: calc(100% / 1);
}
@media only screen and (min-width: 768px) {
  .img-set-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .img-set-item {
    flex-basis: calc((100% - 16px * 2) / 3);
  }
}
.sellers-img {
  border-radius: 15px;
  width: 335px;
}
@media only screen and (min-width: 768px) {
  .sellers-img {
    width: 344px;
  }
}
@media only screen and (min-width: 1200px) {
  .sellers-img {
    width: 368px;
  }
}
/* .sellers-container {
  
} */
@media only screen and (min-width: 768px) {
  .sellers-container {
    display: flex;
  }
}
.sellers-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--txt-color-light-theme);
  width: 306px;
}
@media only screen and (min-width: 1200px) {
  .sellers-desc {
    width: 407px;
  }
}
.sellers-btn {
  min-width: 120px;
  height: 41px;
  padding: 12px 28px;
  background: var(--accent-color);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-color);
  margin: 0;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .sellers-btn {
    min-width: 162px;
    height: 50px;
    padding: 14px 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
  }
}
@media only screen and (max-width: 1199px) {
  .ghosts {
    display: none;
  }
}
